html{
    scroll-behavior: smooth;
}

.layout{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0%;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    max-width: 1440px;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.548);

}