@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
:root{
--DarkViolet: hsl(256, 26%, 20%);
--GrayishBlue: hsl(216, 30%, 68%);



--VeryDarkViolet: hsl(270, 9%, 17%);
--DarkGrayishViolet: hsl(273, 4%, 51%);
--VeryLightGray: hsl(0, 0%, 98%);

--font--dm:  'DM Serif Display', serif;
--font-karla: 'Karla', sans-serif;


}

.heading{
  font-family: 'DM Serif Display', serif;
}

.body{
  font-family: 'Karla', sans-serif;
}

.horizontal_line{
  width: 150px;
  height: 1px;
  background-color: var(--VeryLightGray);
}

.button{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  background-color: transparent;
  border-style: none;
  border: 2px solid hsl(0, 0%, 98%);
  text-transform: uppercase;
  font-family: var(--font-karla);
  font-size: 18px;
  color: var(--VeryLightGray);
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 2;
}

.button:hover{
  background-color: var(--VeryLightGray);
  color: var(--VeryDarkViolet);
}